<h1 data-locale-key="menu.about">About</h1>
<div class="contentdiv hidden" id="content-about">
  <p class="lead mt-0 pt-0 mb-4 font-weight-light" data-locale-key="about.text">Welcome to my humble "portfolio" or rather just a small showcase of some of my work. I'm mostly a web developer (HTML/CSS/JS/PHP) but I also do video editing, music and design. If you'd like to hire me for a job or want to see some more examples/references, contacts are at the bottom of the page.</p>
  <div class="donations">
    <a href="https://www.blockchain.com/btc/address/35VRpVQaqFWjUCnVRpGineShz76QyYgSVg" target="_blank"><img src="/src/img/RibbonDonateBitcoin.png" alt="Donate in Bitcoin"></a>
    <a href="https://ko-fi.com/U7U2MDBC" target="_blank"><img src="https://az743702.vo.msecnd.net/cdn/kofi2.png?v=2" alt="Buy Me a Coffee at ko-fi.com"></a>
    <a href="https://www.paypal.me/matronator" target="_blank"><img src="/src/img/paypal.png" alt="Donate via PayPal"></a>
  </div>
  <p class="font-weight-light mt-4 pt-4 mb-0 pb-0">Matronator &copy; 2021</p>
</div>
