<h1 data-locale-key="menu.contact">Contact</h1>
<div class="contentdiv hidden" id="content-contact">
  <ul class="d-flex list-inline flex-row justify-content-around flex-wrap">
    <li class="list-inline-item"><a class="btn btn-social" href="https://www.linkedin.com/in/matronator" target="_blank" title="LinkedIn"><i class="fab fa-3x fa-linkedin"></i></a></li>
    <li class="list-inline-item"><a class="btn btn-social" href="https://github.com/matronator" target="_blank" title="GitHub"><i class="fab fa-3x fa-github"></i></a></li>
    <li class="list-inline-item"><a class="btn btn-social" href="https://www.youtube.com/c/Matronator?sub_confirmation=1" target="_blank" title="YouTube"><i class="fab fa-3x fa-youtube"></i></a></li>
    <li class="list-inline-item"><a class="btn btn-social" href="https://soundcloud.com/matronator" target="_blank" title="SoundCloud"><i class="fab fa-3x fa-soundcloud"></i></a></li>
    <li class="list-inline-item"><a class="btn btn-social" href="https://www.mixcloud.com/matronator/" target="_blank" title="Mixcloud"><i class="fab fa-3x fa-mixcloud"></i></a></li>
    <li class="list-inline-item"><a class="btn btn-social" href="https://www.instagram.com/matronator/" target="_blank" title="Instagram"><i class="fab fa-3x fa-instagram"></i></a></li>
    <li class="list-inline-item"><a class="btn btn-social" href="https://twitter.com/BauchCrew" target="_blank" title="Twitter"><i class="fab fa-3x fa-twitter"></i></a></li>
  </ul>
  <h3 class="mb-5"><a class="email-link protected" href="#"><img src="/src/img/email.png" height="24"></a></h3>
  <div class="donations mb-3">
    <a href="https://ko-fi.com/U7U2MDBC" target="_blank"><img src="https://az743702.vo.msecnd.net/cdn/kofi2.png?v=2" alt="Buy Me a Coffee at ko-fi.com"></a>
    <div class="btc-address">
      <a class="btc-address" href="https://www.blockchain.com/btc/address/35VRpVQaqFWjUCnVRpGineShz76QyYgSVg" target="_blank">
        <img src="/src/img/btc.png" alt="Donate bitcoins" class="btc-address-qr">
        <img src="/src/img/RibbonDonateBitcoin2.png" class="btc-ribbon" alt="Donate bitcoins">
      </a>
    </div>
    <a href="https://www.paypal.me/matronator" class="donate-paypal" target="_blank"><img src="/src/img/paypal.png" alt="Donate with paypal"></a>
    <iframe src="https://github.com/sponsors/matronator/button" title="Sponsor matronator" height="35" width="116" style="border: 0;"></iframe>
  </div>
  <p data-locale-key="contact.support">Visit <a href="https://support.matronator.cz">support.matronator.cz</a> for more ways how you can support me.</p>
</div>
