<h1 data-locale-key="menu.work">Projects</h1>
<div class="contentdiv hidden" id="content-work">
  <!-- Navigation for tabs -->
  <include src="work/navigation.html"></include>
  <!-- Tabs -->
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane outside-tab show active" id="work-music" data-active-hash="music" role="tabpanel" aria-labelledby="pills-music-tab">
      <!-- <div class="scroll-indicator"></div> -->
      <include src="work/music.html"></include>
    </div>
    <div class="tab-pane outside-tab" id="work-art" data-active-hash="art" role="tabpanel" aria-labelledby="pills-art-tab">
      <include src="work/art.html"></include>
    </div>
    <div class="tab-pane outside-tab" id="work-code" data-active-hash="code" role="tabpanel" aria-labelledby="pills-tech-tab">
      <include src="work/coding.html"></include>
    </div>
  </div>
</div>
