<h1 data-locale-key="menu.work">Projects</h1>
<div class="contentdiv hidden p-0" id="content-work">
  <!-- <include src="work/navigation.html"></include>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane outside-tab show active" id="work-music" data-active-hash="music" role="tabpanel" aria-labelledby="pills-music-tab">
      <include src="work/music.html"></include>
    </div>
    <div class="tab-pane outside-tab" id="work-art" data-active-hash="art" role="tabpanel" aria-labelledby="pills-art-tab">
      <include src="work/art.html"></include>
    </div>
    <div class="tab-pane outside-tab" id="work-code" data-active-hash="code" role="tabpanel" aria-labelledby="pills-tech-tab">
      <include src="work/coding.html"></include>
    </div>
  </div> -->
  <div class="submenu">
    <div class="submenu-item" id="music" data-location="#music">
      <h2 data-locale-key="projects.tabs.music">Music</h2>
      <div class="subcontentdiv hidden">
        <include src="work/music.html"></include>
      </div>
    </div>
    <div class="submenu-item" id="art" data-location="#art">
      <h2 data-locale-key="projects.tabs.artDesign">Art & Design</h2>
      <div class="subcontentdiv hidden">
        <include src="work/art.html"></include>
      </div>
    </div>
    <div class="submenu-item" id="coding" data-location="#coding">
      <h2 data-locale-key="projects.tabs.code">Coding</h2>
      <div class="subcontentdiv hidden">
        <include src="work/coding.html"></include>
      </div>
    </div>
  </div>
</div>
