<div class="container-fluid inside-tab art-grid-wrapper">
  <div class="art-grid">
    <div class="row justify-content-around flexartio art-gallery mb-4">
      <a href="/src/img/art/art1.jpg" class="col-md-4 col-sm-6 col-12 px-2 artfolio" id="artfolio1" data-gallery="art-design"></a>
      <a href="/src/img/art/art44.jpg" class="col-md-4 col-sm-6 col-12 px-2 artfolio" id="artfolio4" data-gallery="art-design"></a>
      <a href="/src/img/art/art3.jpg" class="col-md-4 col-sm-6 col-12 px-2 artfolio" id="artfolio3" data-gallery="art-design"></a>
      <a href="/src/img/art/art11.jpg" class="col-md-4 col-sm-6 col-12 px-2 artfolio" id="artfolio5" data-gallery="art-design"></a>
      <a href="/src/img/art/art5.jpg" class="col-md-4 col-sm-6 col-12 px-2 artfolio" id="artfolio2" data-gallery="art-design"></a>
      <a href="/src/img/art/art6.jpg" class="col-md-4 col-sm-6 col-12 px-2 artfolio" id="artfolio6" data-gallery="art-design"></a>
      <a href="/src/img/art/art77.jpg" class="col-md-4 col-sm-6 col-12 px-2 artfolio" id="artfolio7" data-gallery="art-design"></a>
      <a href="/src/img/art/art8.jpg" class="col-md-4 col-sm-6 col-12 px-2 artfolio" id="artfolio8" data-gallery="art-design"></a>
      <a href="/src/img/art/art9.jpg" class="col-md-4 col-sm-6 col-12 px-2 artfolio" id="artfolio9" data-gallery="art-design"></a>
      <a href="/src/img/art/art16.jpg" class="col-md-4 col-sm-6 col-12 px-2 artfolio" id="artfolio16" data-gallery="art-design"></a>
      <a href="/src/img/art/art17.jpg" class="col-md-4 col-sm-6 col-12 px-2 artfolio" id="artfolio17" data-gallery="art-design"></a>
      <a href="/src/img/art/art18.jpg" class="col-md-4 col-sm-6 col-12 px-2 artfolio" id="artfolio18" data-gallery="art-design"></a>
      <a href="/src/img/art/art12.jpg" class="col-md-4 col-sm-6 col-12 px-2 artfolio" id="artfolio12" data-gallery="art-design"></a>
      <a href="/src/img/art/art13.jpg" class="col-md-4 col-sm-6 col-12 px-2 artfolio" id="artfolio13" data-gallery="art-design"></a>
      <a href="/src/img/art/art15.jpg" class="col-md-4 col-sm-6 col-12 px-2 artfolio" id="artfolio15" data-gallery="art-design"></a>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <h4 class="moreon" data-locale-key="projects.artDesign.followMe">Follow me on</h4>
  </div>
  <div class="row justify-content-center">
    <a class="col-12 col-sm-6 col-md-4 col-lg-3 d-block foliocol" href="https://www.instagram.com/matronator/" target="_blank" title="Instagram">
      <img src="/src/img/instalogo.png" style="height: 80px;" class="img" alt="Instagram">
    </a>
    <a class="col-12 col-sm-6 col-md-4 col-lg-3 d-block foliocol" href="https://www.neonmob.com/matronator" target="_blank" title="NeonMob">
      <img src="/src/img/neonlogo.png" style="height: 80px;" class="img" alt="NeonMob">
    </a>
  </div>
</div>
