<div class="container-fluid inside-tab tech-grid-wrapper">
  <!--<div class="row justify-content-around">-->
  <!--  <div class="lang-chart">-->
  <!--    <figure class="chart">-->
  <!--      <embed src="https://wakatime.com/share/@matronator/99232af7-d806-429d-9ed6-ea4065e3a1a5.svg">-->
  <!--    </figure>-->
  <!--  </div>-->
  <!--</div>-->
  <div class="tech-grid">
    <include src="components/card-tech.html">
      {
        "id": 17,
        "link": "https://github.com/matronator/amock",
        "title": "Amock",
        "locale": "amock"
      }
    </include>
    <include src="components/card-tech.html">
      {
        "id": 16,
        "link": "https://github.com/matronator/MTRGen",
        "title": "MTRGen",
        "locale": "mtrgen"
      }
    </include>
    <include src="components/card-tech.html">
      {
        "id": 15,
        "link": "https://github.com/matronator/parsem",
        "title": "Pars'Em",
        "locale": "parsem"
      }
    </include>
    <include src="components/card-tech.html">
      {
        "id": 14,
        "link": "https://github.com/matronator/axette",
        "title": "Axette",
        "locale": "axette"
      }
    </include>
    <include src="components/card-tech.html">
      {
        "id": 10,
        "link": "https://global-collapse.com",
        "title": "Global Collapse: Pandemic",
        "locale": "globalCollapse"
      }
    </include>
    <include src="components/card-tech.html">
      {
        "id": 11,
        "link": "https://matronator.github.io/AnxietySimulator/",
        "title": "Anxiety Simulator",
        "locale": "anxietySimulator"
      }
    </include>
    <include src="components/card-tech.html">
      {
        "id": 12,
        "link": "https://github.com/matronator/starterpack",
        "title": "Starterpack",
        "locale": "starterpack"
      }
    </include>
    <include src="components/card-tech.html">
      {
        "id": 7,
        "link": "https://burner.matronator.com/",
        "title": "Message Burner",
        "locale": "burner"
      }
    </include>
    <include src="components/card-tech.html">
      {
        "id": 5,
        "link": "https://matronator.github.io/feed-the-flames",
        "title": "Feed the Flames",
        "locale": "feedTheFlames"
      }
    </include>
    <include src="components/card-tech.html">
      {
        "id": 9,
        "link": "https://www.dcprotez.cz",
        "title": "Dobrovolnické centrum Protěž",
        "locale": "protez"
      }
    </include>
    <include src="components/card-tech.html">
      {
        "id": 13,
        "link": "https://matronator.github.io/MatecakSoundboard/",
        "title": "Matečák Soundboard",
        "locale": "matecak"
      }
    </include>
    <include src="components/card-tech.html">
      {
        "id": 1,
        "link": "http://bitcoingo.matronator.com/",
        "title": "BitcoinGo",
        "locale": "btcGo"
      }
    </include>
    <include src="components/card-tech.html">
      {
        "id": 8,
        "link": "https://www.skolickagrebovka.cz",
        "title": "Školička Grébovka",
        "locale": "skolka"
      }
    </include>
    <include src="components/card-tech.html">
      {
        "id": 6,
        "link": "http://noblesmanor.matronator.com",
        "title": "Nobles Manor under the Castle",
        "locale": "noblesManor"
      }
    </include>
    <include src="components/card-tech.html">
      {
        "id": 4,
        "link": "http://files.matronator.com/magicwarsdemo.zip",
        "title": "Download Demo",
        "locale": "magicWars"
      }
    </include>
    <include src="components/card-tech.html">
      {
        "id": 3,
        "link": "http://destruction.matronator.com/",
        "title": "Symphony of Destruction",
        "locale": "destruction"
      }
    </include>
    <include src="components/card-tech.html">
      {
        "id": 2,
        "link": "https://btc.matronator.com/?r=34NByYEZHm6Fgwc3GUWMveGHkWnEbpBw8q",
        "title": "Bitcoin Faucet",
        "locale": "faucet"
      }
    </include>
  </div>
</div>
