<div class="container-fluid inside-tab px-0">
  <div class="row justify-content-center foliorow pt-3">
    <div class="col-12 col-sm-6">
      <iframe width="100%" height="310" style="border: none; overflow: hidden;" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/126871501&color=%23992828&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=false"></iframe>
    </div>
    <div class="col-12 col-sm-6 d-flex flex-column">
      <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&mini=1&feed=%2Fmatronator%2F" style="border: none;"></iframe>
      <iframe width="100%" height="250" src="https://www.mixcloud.com/widget/follow/?light=1&u=%2Fmatronator%2F" style="border: none;"></iframe>
    </div>
  </div>
  <div class="mt-4 row justify-content-center">
    <h4 class="moreon" data-locale-key="projects.music.moreOn">More music on:</h4>
  </div>
  <div class="row justify-content-around donations">
    <a href="https://soundcloud.com/matronator" class="my-2 col" target="_blank" title="Visit my SoundCloud">
      <img src="./src/img/sclogo.png" class="img-fluid" alt="Visit my SoundCloud">
    </a>
    <a href="https://www.youtube.com/c/Matronator?sub_confirmation=1" class="my-2 col" target="_blank" title="Go to my YouTube channel">
      <img src="./src/img/youtubelogo.png" class="img-fluid" alt="Visit my YouTube channel">
    </a>
    <a href="https://www.mixcloud.com/matronator/" class="my-2 col" target="_blank" title="Visit my Mixcloud">
      <img src="./src/img/mixlogo.png" class="img-fluid" alt="Visit my Mixcloud">
    </a>
  </div>
</div>
