<div class="card-tech">
  <div class="techfolio card-img-top techfolio-card-{{ id }}" id="techfolioCard" style="--imageSrc: url('/src/img/tech/{{ locale }}.jpg'); cursor: pointer;" data-image-href="{{ link }}"></div>
  <div class="card-body" id="techfoliod{{ id }}">
    <h5 class="card-title"><a href="{{ link }}" target="_blank" title="{{ title }}" data-locale-key="projects.code.{{ locale }}.title"></a></h5>
    <p class="card-text" data-locale-key="projects.code.{{ locale }}.body"></p>
  </div>
</div>
